templates/form.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<!-- TODO: TEI namespace -->
	<define name="any_attribute">
		<attribute>
			<anyName/>
		</attribute>
	</define>
	<define name="any_element">
		<element>
			<anyName/>
			<zeroOrMore>
				<ref name="any_attribute"/>
			</zeroOrMore>
			<ref name="any_content"/>
		</element>
	</define>
	<define name="any_content">
		<interleave>
			<zeroOrMore>
				<ref name="any_element"/>
			</zeroOrMore>
			<text/>
		</interleave>
	</define>
	<define name="lb">
		<element name="lb">
			<empty/>
		</element>
	</define>
	<define name="pc">
		<element name="pc">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	
	
	<define name="dictScrap">
		<element name="dictScrap">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	

	<define name="lemma">
		<element name="lemma">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="prefix">
		<element name="prefix">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="suffix">
		<element name="suffix">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="def">
		<element name="def">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="gloss">
		<element name="gloss">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="xr">
		<element name="xr">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
    <define name="firstLemma">
        <element name="firstLemma">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="pc"/>
                    <ref name="lb"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="synRef">
        <element name="synRef">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="pc"/>
                    <ref name="lb"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="antRef">
        <element name="antRef">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="pc"/>
                    <ref name="lb"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="variant">
        <element name="variant">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="pc"/>
                    <ref name="lb"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="source">
        <element name="source">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="pc"/>
                    <ref name="lb"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="gramGrp">
        <element name="gramGrp">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="pc"/>
                    <ref name="lb"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="example">
        <element name="example">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="pc"/>
                    <ref name="lb"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="usg">
        <element name="usg">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="pc"/>
                    <ref name="lb"/>
                </choice>
            </oneOrMore>
        </element>
    </define>

    <define name="form">
		<element name="form">
			<oneOrMore>
				<choice>
					<text/>

					<ref name="lemma"/>
<!--					<ref name="prefix"/>-->
<!--					<ref name="suffix"/>-->
                    <ref name="firstLemma"/>
                    <ref name="example"/>
                    <ref name="synRef"/>
                    <ref name="antRef"/>
                    <ref name="def"/>
					<ref name="variant"/>
                    <ref name="source"/>
                    <ref name="usg"/>
					<ref name="gramGrp"/>
					<ref name="pc"/>
					<ref name="lb"/>
					<ref name="dictScrap"/>

				</choice>
			</oneOrMore>
		</element>
	</define>
	
	<define name="body">
		<element name="body">
			<oneOrMore>
			
					
					<ref name="form"></ref>
					
				
			</oneOrMore>
		</element>
	</define>
	<start>
		<element name="tei">
			<optional>
				<attribute name="xml:space">
					<value>preserve</value>
				</attribute>
			</optional>
			<element name="teiHeader">
				<zeroOrMore>
					<ref name="any_element"/>
				</zeroOrMore>
			</element>
			<element name="text">
				
				<oneOrMore>
					<choice>
						<ref name="body"/>
					</choice>
				</oneOrMore>
			</element>
		</element>
	</start>
</grammar>
