templates/form.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<!-- TODO: TEI namespace -->
	<define name="any_attribute">
		<attribute>
			<anyName/>
		</attribute>
	</define>
	<define name="any_element">
		<element>
			<anyName/>
			<zeroOrMore>
				<ref name="any_attribute"/>
			</zeroOrMore>
			<ref name="any_content"/>
		</element>
	</define>
	<define name="any_content">
		<interleave>
			<zeroOrMore>
				<ref name="any_element"/>
			</zeroOrMore>
			<text/>
		</interleave>
	</define>
	<define name="lb">
		<element name="lb">
			<empty/>
		</element>
	</define>
	<define name="pc">
		<element name="pc">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	
	
	<define name="dictScrap">
		<element name="dictScrap">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	
	<define name="orth">
		<element name="orth">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
					<ref name="dictScrap"/>

				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="pos">
		<element name="pos">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
					<ref name="dictScrap"/>

				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="pron">
		<element name="pron">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
					<ref name="dictScrap"/>
					
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="gramGrp">
		<element name="gramGrp">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
					<ref name="pos"></ref>
					<ref name="dictScrap"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="lang">
		<element name="lang">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="name">
		<element name="name">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>


	<define name="desc">
		<element name="desc">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="form">
		<element name="form">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
					<ref name="orth"/>
					<ref name="pron"/>
					<ref name="gramGrp"/>
					<ref name="lang"/>
					<ref name="name"/>
					<ref name="desc"/>
					<ref name="dictScrap"/>

				</choice>
			</oneOrMore>
		</element>
	</define>
	
	<define name="body">
		<element name="body">
			<oneOrMore>
			
					
					<ref name="form"></ref>
					
				
			</oneOrMore>
		</element>
	</define>
	<start>
		<element name="tei">
			<optional>
				<attribute name="xml:space">
					<value>preserve</value>
				</attribute>
			</optional>
			<element name="teiHeader">
				<zeroOrMore>
					<ref name="any_element"/>
				</zeroOrMore>
			</element>
			<element name="text">
				
				<oneOrMore>
					<choice>
						<ref name="body"/>
					</choice>
				</oneOrMore>
			</element>
		</element>
	</start>
</grammar>
