templates/grobidDictScheme.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- TODO: TEI namespace -->
  <define name="any_attribute">
    <attribute>
      <anyName/>
    </attribute>
  </define>
  <define name="any_element">
    <element>
      <anyName/>
      <zeroOrMore>
        <ref name="any_attribute"/>
      </zeroOrMore>
      <ref name="any_content"/>
    </element>
  </define>
  <define name="any_content">
    <interleave>
      <zeroOrMore>
        <ref name="any_element"/>
      </zeroOrMore>
      <text/>
    </interleave>
  </define>
  <define name="lb">
    <element name="lb">
      <empty/>
    </element>
  </define>
  <define name="pc">
    <element name="pc">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="lb"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="bibl">
    <element name="bibl">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        
          
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="mentioned">
    <element name="mentioned">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        
          
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="lang">
    <element name="lang">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        
          
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="def">
    <element name="def">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        

        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="seg">
    <element name="seg">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        
          <ref name="bibl"/>
          <ref name="lang"/>
          <ref name="def"/>
          <ref name="mentioned"/>
          <ref name="seg"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="etym">
    <element name="etym">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>
          <ref name="seg"/>
          <ref name="quote"/>
          </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="dictScrap">
    <element name="dictScrap">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        
          <ref name="bibl"/>
          <ref name="lang"/>
          <ref name="mentioned"/>
          <ref name="def"/>
          <ref name="seg"/>
          <ref name="dictScrap"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="orth">
    <element name="orth">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        
          <ref name="dictScrap"/>
          
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="pos">
    <element name="pos">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>        
          <ref name="dictScrap"/>
          
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="gramGrp">
    <element name="gramGrp">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/>  
          <ref name="pos"></ref>
          <ref name="dictScrap"/> 
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="form">
    <element name="form">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/> 
          <ref name="orth"/>
          <ref name="gramGrp"/>
          <ref name="dictScrap"/>
          
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="sense">
    <element name="sense">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/> 
          <ref name="sense"/>
          <ref name="gramGrp"/>
          <ref name="dictScrap"/>
          
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="entry">
    <element name="entry">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pc"/>
          <ref name="lb"/> 
          <ref name="form"/>
          <ref name="etym"/>
          <ref name="sense"/>
          <ref name="dictScrap"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <start>
    <element name="tei">
      <optional>
        <attribute name="xml:space">
          <value>preserve</value>
        </attribute>
      </optional>
      <element name="teiHeader">
        <zeroOrMore>
          <ref name="any_element"/>
        </zeroOrMore>
      </element>
      <element name="text">
        <attribute name="xml:lang">
          <data type="NCName"/>
        </attribute>
        <element name="headnote">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="lb"/>
            </choice>
          </oneOrMore>
        </element>
        <element name="body">
          <oneOrMore>
            <ref name="entry"/>
          </oneOrMore>
        </element>
        <element name="footnote">
          <empty/>
        </element>
      </element>
    </element>
  </start>
</grammar>
