templates/subSense.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<!-- TODO: TEI namespace -->
	<define name="any_attribute">
		<attribute>
			<anyName/>
		</attribute>
	</define>
	<define name="any_element">
		<element>
			<anyName/>
			<zeroOrMore>
				<ref name="any_attribute"/>
			</zeroOrMore>
			<ref name="any_content"/>
		</element>
	</define>
	<define name="any_content">
		<interleave>
			<zeroOrMore>
				<ref name="any_element"/>
			</zeroOrMore>
			<text/>
		</interleave>
	</define>

	<define name="def">
		<element name="def">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="note">
		<element name="note">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="usg">
		<element name="usg">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="example">
		<element name="example">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="translation">
		<element name="translation">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="re">
		<element name="re">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="etym">
		<element name="etym">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="xr">
		<element name="xr">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="num">
		<element name="num">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="gramGrp">
		<element name="gramGrp">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="lb">
		<element name="lb">
			<empty/>
		</element>
	</define>
	<define name="pc">
		<element name="pc">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="dictScrap">
		<element name="dictScrap">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	
	<define name="subSense">
		<element name="subSense">
			<oneOrMore>
				<choice>
					<text/>
					<ref name="pc"/>
					<ref name="lb"/>
					<ref name="def"/>
					<ref name="example"/>
					<ref name="translation"/>
					<ref name="usg"/>
					<ref name="re"/>
					<ref name="xr"/>
					<ref name="num"/>
					<ref name="gramGrp"/>
					<ref name="etym"/>
					<ref name="note"/>
					<ref name="dictScrap"/>

				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="body">
		<element name="body">
			<oneOrMore>
				<choice>
					
					<ref name="subSense"></ref>
					
				</choice>
			</oneOrMore>
		</element>
	</define>
	<start>
		<element name="tei">
			<optional>
				<attribute name="xml:space">
					<value>preserve</value>
				</attribute>
			</optional>
			<element name="teiHeader">
				<zeroOrMore>
					<ref name="any_element"/>
				</zeroOrMore>
			</element>
			<element name="text">
			
				<oneOrMore>
					
						<ref name="body"/>
					
				</oneOrMore>
			</element>
		</element>
	</start>
</grammar>
